.top.center {
    display: none;
}
.table .bottom {
    position: relative;
}
#about > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) {
  display: none;
}
#about > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) {
  bottom: 600px;
}
#about > tbody:nth-child(1) {
  position: relative;
  bottom: 00px;
}
#fraOrganizationBlock {
  padding-top: 30px;
}
#commentBox {
  margin-top: 240px;
}
ontainer > center:nth-child(5) {
  height: 0px;
}
#about > tbody > {
    background: url("https://monsterhunterwiki.org/images/6/67/MHWilds-Rey_Dau_Concept_Art_003.webp");
}