.top.center {
  display: none;
}
.table .bottom {
    position: relative;
}
#about > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(1) {
  display: none;
}
#about > tbody:nth-child(1) > tr:nth-child(2) > td:nth-child(2) {
  bottom: 600px;
}
#about > tbody:nth-child(1) {
  position: relative;
  bottom: 00px;
}
#fraOrganizationBlock {
  padding-top: 30px;
}
#commentBox {
  margin-top: 240px;
}
#comment {
        position: relative;
    top: 20px
}
#commentBox {
  position: absolute;
  bottom: 2360px;
  left: 50px;
}
